
.kuealist .comment {
    font-size: .875em;
}
.kuealist td.kuea-time {
    white-space: nowrap;
}
.kuealist td.kuea-time .comment{
    white-space: normal;
}
.kuealist .kuea-cancelled .kuea-title .content,
.kuealist .kuea-cancelled .kuea-time,
.kuealist .kuea-cancelled .kuea-place,
.kuealist .kuea-cancelled .kuea-people
{
    text-decoration: line-through;
}

nav[data-toggle="toc"] {
    top: 60px;
}

.table.kuealist > :not(caption) > .kuea-with-category > * {
    background: var(--category-bg);
    color: var(--category-text);
}

[data-bs-theme="dark"] .table.kuealist > :not(caption) > .kuea-with-category > * {
    background: var(--category-bg-dark);
    color: var(--category-text-dark);
}

.ts-control, .ts-control input, .ts-dropdown {
    color: var(--bs-body-color);
}
.ts-wrapper.multi .ts-control > div {
    background: var(--bs-secondary-bg);
    border: 0 solid var(--bs-border-color);
    color: var(--bs-body-color);
}

.error-technical-info {
    color: var(--bs-secondary-color);
    background: var(--bs-secondary-bg);
    padding: 1rem;
    border-left: 0.25rem solid var(--bs-secondary-border-subtle);
    border-radius: var(--bs-border-radius);
}
