
.kuealist .comment {
    font-size: .875em;
}
.kuealist td.kuea-time {
    white-space: nowrap;
}
.kuealist td.kuea-time .comment{
    white-space: normal;
}
.kuealist .kuea-cancelled .kuea-title .content,
.kuealist .kuea-cancelled .kuea-time,
.kuealist .kuea-cancelled .kuea-place,
.kuealist .kuea-cancelled .kuea-people
{
    text-decoration: line-through;
}

nav[data-toggle="toc"] {
    top: 60px;
}

.table.kuealist > :not(caption) > .kuea-with-category > * {
    background: var(--category-bg);
    color: var(--category-text);
}

[data-bs-theme="dark"] .table.kuealist > :not(caption) > .kuea-with-category > * {
    background: var(--category-bg-dark);
    color: var(--category-text-dark);
}
