
/* KüA list special markup */
.kuealist .comment {
    font-size: .875em;
}
.kuealist .kuea-cancelled .kuea-title .content,
.kuealist .kuea-cancelled .kuea-time,
.kuealist .kuea-cancelled .kuea-place,
.kuealist .kuea-cancelled .kuea-people
{
    text-decoration: line-through;
}

/* KüA list category colors */
.table.kuealist > :not(caption) > .kuea-with-category > * {
    background: var(--category-bg);
    color: var(--category-text);
}

[data-bs-theme="dark"] .table.kuealist > :not(caption) > .kuea-with-category > * {
    background: var(--category-bg-dark);
    color: var(--category-text-dark);
}

/* Fixes for tom-select dark theme colors */
.ts-control, .ts-control input, .ts-dropdown {
    color: var(--bs-body-color);
}
.ts-wrapper.multi .ts-control > div {
    background: var(--bs-secondary-bg);
    border: 0 solid var(--bs-border-color);
    color: var(--bs-body-color);
}

/* Extra component for error pages */
.error-technical-info {
    color: var(--bs-secondary-color);
    background: var(--bs-secondary-bg);
    padding: 1rem;
    border-left: 0.25rem solid var(--bs-secondary-border-subtle);
    border-radius: var(--bs-border-radius);
}

/* Extra components for category management */
.color-demo {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: var(--demo-color);
    margin-right: .5rem;
    margin-bottom: -1px;
    border: solid 1px var(--bs-border-color);
    border-radius: .25rem;
}
tr.category-row>* {
    background: var(--category-bg);
    color: var(--category-text);
}
[data-bs-theme="dark"] tr.category-row>* {
    background: var(--category-bg-dark);
    color: var(--category-text-dark);
}
