
.container {
    max-width: none;
}

.entry-backlink {
    display: none;
}
a.moved-entry-link {
    color: inherit;
    text-decoration: none;
}
.navbar, #config-navigation {
    display: none;
}
#config-content {
    width: 100%;
}

#link-footer, #error-footer {
    display: none;
}

table.kuealist .table-aside-buttons {
    display: none;
}
