
.container {
    max-width: none;
}

.entry-backlink {
    display: none;
}

.navbar {
    display: none;
}

#link-footer, #error-footer {
    display: none;
}

table.kuealist .table-aside-buttons {
    display: none;
}
