/* KüA list responsive wrapping */
@media (max-width: 576px) {
    .kuealist, .kuealist>tbody {
        display: block;
    }
    .kuealist thead {
        display: none;
    }
    .kuealist tr {
        display: block;
        border-style: solid;
        border-color: var(--category-border);
        border-width: 1px;
        border-radius: 3px;
        margin-bottom: .5rem;
    }
    [data-bs-theme="dark"] .kuealist tr {
        border-color: var(--category-border-dark);
    }
    .kuealist td {
        background-color: transparent;
        display: block;
        border-style: none;
    }
    .kuealist td.kuea-title {
        border-bottom-style: solid;
    }
    .kuealist td.kuea-title:after {
        clear: both;
    }
    .kuealist td.kuea-place {
        font-size: .875em;
    }
    .kuealist td.kuea-place .comment {
        font-size: inherit;
    }
    .kuealist td.kuea-people {
        padding-top: 0;
        font-size: .875em;
    }
    .kuealist td.kuea-people:before {
        content: "von ";
    }
    .kuealist td.kuea-time {
        float: right;
        text-align: right;
        font-size: .875em;
    }
    .kuealist td.kuea-time .comment {
        font-size: inherit;
    }

}

/* KüA list aside buttons */
table.kuealist .aside-container {
    position: relative;
}
table.kuealist .aside-container .table-aside-buttons {
    position: absolute;
    right: 100%;
    background: none;
    color: var(--bs-body-color);
    text-wrap: nowrap;
    top: 0;
    padding: .5rem;
}
.table-aside-buttons {
    opacity: 0;
    transition: opacity .15s ease-in-out;
}
.table-aside-buttons:hover, .table-aside-buttons:has(:focus), .aside-container:hover .table-aside-buttons {
    opacity: 1;
}

@media (prefers-reduced-motion) {
    .table-aside-buttons {
        transition: none;
        opacity: 1;
    }
}
/* KüA list aside buttons responsive wrapping */
@media (max-width: 576px) {
    table.kuealist .aside-container .table-aside-buttons {
        position: static;
        float: right;
        padding: 0;
    }
}


/* Fix for avoiding scrolling of anchor behind navbar. */
#main * {
    scroll-margin-top: 60px;
}
