{#
 # common navigation bar for all entry editing pages.
 #}
<ul class="nav nav-underline m-3">
    <li class="nav-item">
        <a class="nav-link" href="{{ util::url_for_entry_details(request, *event_id, entry_id, &entry_begin_effective_date)? }}">
            <i class="bi bi-arrow-left" aria-label="Zurück"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_link == EditEntryNavbarActiveLink::EditEntry %}active{% endif %}"
           {% if active_link == EditEntryNavbarActiveLink::EditEntry %}aria-current="page"{% endif %}
           href="{{ request.url_for("edit_entry_form", [event_id.to_string(), entry_id.to_string()])? }}">
            <i class="bi bi-pencil-fill" aria-hidden="true"></i> Bearbeiten
        </a>
    </li>
    <li class="nav-item">

        <a class="nav-link {% if active_link == EditEntryNavbarActiveLink::PreviousDatesOverview %}active{% endif %}"
           {% if active_link == EditEntryNavbarActiveLink::PreviousDatesOverview %}aria-current="page"{% endif %}
           href="{{ request.url_for("previous_dates_overview", [event_id.to_string(), entry_id.to_string()])? }}">
        <i class="bi bi-clock-history" aria-hidden="true"></i> Vorherige Termine
        </a>
    </li>
    <li class="nav-item">

        <a class="nav-link {% if active_link == EditEntryNavbarActiveLink::DeleteEntry %}active{% endif %}"
           {% if active_link == EditEntryNavbarActiveLink::DeleteEntry %}aria-current="page"{% endif %}
           href="{{ request.url_for("delete_entry_form", [event_id.to_string(), entry_id.to_string()])? }}">
        <i class="bi bi-trash" aria-hidden="true"></i> Löschen
        </a>
    </li>
</ul>
