{% extends "base.html" %}

{% macro navlink(url, icon, label, privilege, index) %}
    {% if base.has_privilege(*privilege) %}
        <li class="nav-item">
            <a class="nav-link {% if base_config.active_nav_button == index%}active{% endif %}" {% if base_config.active_nav_button == index%}aria-current="page"{% endif %} href="{{ url }}">
                <i class="bi bi-{{icon}}" aria-hidden="true"></i> {{label}}
            </a>
        </li>
    {% endif %}
{% endmacro %}


{% block body %}
<div class="container mt-3" id="main">
    <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0" id="config-navigation">
            <nav aria-label="Konfigurationsbereich-Navigation">
                <ul class="nav nav-pills flex-row flex-lg-column">
                    {{ navlink(base.url_for_event_endpoint("config_index")?,
                               "gear",
                               "Übersicht",
                               crate::data_store::auth_token::Privilege::ShowConfigArea,
                               crate::web::ui::base_template::ConfigNavButton::Overview) }}
                    {{ navlink(base.url_for_event_endpoint("edit_extended_event_form")?,
                               "sliders",
                               "Veranstaltungs-Metadaten",
                               crate::data_store::auth_token::Privilege::EditEventDetails,
                               crate::web::ui::base_template::ConfigNavButton::EventConfig) }}
                    {{ navlink(base.url_for_event_endpoint("manage_categories")?,
                               "grid",
                               "KüA-Kategorien",
                               crate::data_store::auth_token::Privilege::ManageCategories,
                               crate::web::ui::base_template::ConfigNavButton::Categories) }}
                    {{ navlink(base.url_for_event_endpoint("manage_rooms")?,
                               "geo-alt-fill",
                               "Orte",
                               crate::data_store::auth_token::Privilege::ManageRooms,
                               crate::web::ui::base_template::ConfigNavButton::Rooms) }}
                    {{ navlink(base.url_for_event_endpoint("manage_announcements")?,
                               "chat-right-heart",
                               "Bekanntmachungen",
                               crate::data_store::auth_token::Privilege::ManageAnnouncements,
                               crate::web::ui::base_template::ConfigNavButton::Announcements) }}
                    {{ navlink(base.url_for_event_endpoint("manage_passphrases")?,
                               "key",
                               "Passphrasen",
                               crate::data_store::auth_token::Privilege::ManagePassphrases,
                               crate::web::ui::base_template::ConfigNavButton::Passphrases) }}
                    {{ navlink(base.url_for_event_endpoint("print_link_and_passphrase")?,
                               "file-earmark-fill",
                               "Druckvorlagen",
                               crate::data_store::auth_token::Privilege::ShowConfigArea,
                               crate::web::ui::base_template::ConfigNavButton::PrintTemplates) }}
                </ul>
            </nav>
        </div>
        <div class="col-lg-9" id="config-content">
            {% block config_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
