<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KüA-Plan – {{base.page_title}}</title>
    <script src="{{ base.url_for_static("theme-switch.js")? }}"></script>
    <link rel="stylesheet" href="{{ base.url_for_static("bootstrap/css/bootstrap.min.css")? }}">
    <link rel="stylesheet" href="{{ base.url_for_static("bootstrap-icons/bootstrap-icons.min.css")? }}">
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" href="{{ base.url_for_static("favicon.ico")? }}" sizes="16x16 32x32" />
    <link rel="icon" href="{{ base.url_for_static("touch-icon.png")? }}" sizes="192x192" />
    <link rel="stylesheet" href="{{ base.url_for_static("main.css")? }}">
    <link rel="stylesheet" href="{{ base.url_for_static("print.css")? }}" media="print">
    <link rel="stylesheet" href="{{ base.url_for_static("screen.css")? }}" media="screen">
    {% block custom_header %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
    <div class="container">
        <div class="navbar-brand" href="#">
            <img height="24" width="24" class="d-inline-block align-text-top me-2" alt="Logo" src="{{ base.url_for_static("touch-icon.png")? }}">
            {% if let Some(event) = base.event %}{{ event.title }}{% else %}KüA-Plan{% endif %}
        </div>
        {% if let Some(event) = base.event %}
            {% if base.has_privilege(crate::data_store::auth_token::Privilege::ShowKueaPlan) %}
                <ul class="navbar-nav">
                    {% let today = crate::web::ui::time_calculation::current_effective_date() %}
                    <li class="nav-item dropdown">
                        {% let date_active = base.active_main_nav_button == Some(crate::web::ui::base_template::MainNavButton::ByDate) %}
                        <a class="nav-link {% if date_active %}active{% endif %} dropdown-toggle"
                           href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if let Some(date) = base.current_date %}
                                {{ crate::web::ui::util::weekday_short(date) }} {{ date.format("%d.%m.") }}
                            {% else %}
                                <i class="bi bi-calendar" aria-hidden="true"></i> Datum
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu position-absolute">
                            {% for day in crate::web::ui::util::event_days(event) %}
                                <li><a class="dropdown-item {% if date_active && Some(*day) == base.current_date %}active{% elif day == today %}text-primary{% endif %}" href="{{ crate::web::ui::util::url_for_main_list(base.request, *event.id, day)? }}" {% if date_active && Some(*day) == base.current_date %}aria-current="page"{% endif %}>
                                    {{ crate::web::ui::util::weekday_short(day) }} {{ day.format("%d.%m.") }}{% if day == today %} <i class="bi bi-arrow-left" title="heute"></i>{% endif %}
                                </a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% endif %}
            {% if base.has_privilege(crate::data_store::auth_token::Privilege::ShowKueaPlan)
                || base.has_privilege(crate::data_store::auth_token::Privilege::ManageEntries)
                || base.has_privilege(crate::data_store::auth_token::Privilege::ShowConfigArea) %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Navigation ausklappen">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
                    <ul class="navbar-nav me-auto">
                        {% let categories_active = base.active_main_nav_button == Some(crate::web::ui::base_template::MainNavButton::ByCategory) %}
                        <li class="nav-item"><a href="{{ base.url_for_event_endpoint("categories_list")? }}" class="nav-link {% if categories_active %}active{% endif %}" {% if categories_active %}aria-current="page"{% endif %}><i class="bi bi-grid"></i> Kategorien</a></li>
                        {% let rooms_active = base.active_main_nav_button == Some(crate::web::ui::base_template::MainNavButton::ByRoom) %}
                        <li class="nav-item"><a href="{{ base.url_for_event_endpoint("rooms_list")? }}" class="nav-link {% if rooms_active %}active{% endif %}" {% if rooms_active %}aria-current="page"{% endif %}><i class="bi bi-geo-alt-fill"></i> Orte</a></li>
                    </ul>

                    {% if base.has_privilege(crate::data_store::auth_token::Privilege::ManageEntries)
                          || base.has_privilege(crate::data_store::auth_token::Privilege::ShowConfigArea) %}
                        <ul class="navbar-nav">
                            {% if base.has_privilege(crate::data_store::auth_token::Privilege::ManageEntries) %}
                                {% let add_entry_active = base.active_main_nav_button == Some(crate::web::ui::base_template::MainNavButton::AddEntry) %}
                                <li class="nav-item">
                                    <a href="{{ base.new_entry_form_url()? }}" class="nav-link {% if add_entry_active %}active{% endif %}" {% if add_entry_active %}aria-current="page"{% endif %}>
                                        <i class="bi bi-plus-circle" aria-hidden="true"></i> Eintrag hinzufügen
                                    </a>
                                </li>
                            {% endif %}
                            {% if base.has_privilege(crate::data_store::auth_token::Privilege::ShowConfigArea) %}
                                {% let config_active = base.active_main_nav_button == Some(crate::web::ui::base_template::MainNavButton::Configuration) %}
                                <li class="nav-item">
                                    <a href="{{ base.url_for_event_endpoint("config_index")? }}" class="nav-link {% if config_active %}active{% endif %}" {% if config_active %}aria-current="page"{% endif %}>
                                        <i class="bi bi-gear" aria-hidden="true"></i> Konfiguration
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
</nav>
{% block body %}
{% endblock %}
<footer class="border-top text-center small text-secondary p-2 mt-3 mb-2 d-print-none">
    {% block footer_extra_text %}{% endblock %}
    online-kueaplan v{{ crate::get_version() }}
    {% if base.event.is_some()
        && base.has_privilege(crate::data_store::auth_token::Privilege::ShowKueaPlan)
        && !base.has_privilege(crate::data_store::auth_token::Privilege::ShowConfigArea) %}
        | <a href="{{ base.url_for_event_endpoint("config_index")? }}">zum Konfigurations-Bereich</a>
    {% endif %}
    | Style: <a href="#" id="themeSwitch"><i class="bi bi-circle-half"></i></a>
</footer>
{% let flashes = base.get_flashes() %}
{% if !flashes.is_empty() %}
<div class="toast-container top-0 end-0 p-3 position-fixed d-print-none">
    {% for flash in flashes.iter() %}
    <div class="toast {% match flash.flash_type %}
                      {%- when crate::web::ui::flash::FlashType::Info%}text-bg-info
                      {%- when crate::web::ui::flash::FlashType::Success%}text-bg-success
                      {%- when crate::web::ui::flash::FlashType::Warning%}text-bg-warning
                      {%- when crate::web::ui::flash::FlashType::Error%}text-bg-danger{% endmatch %}"
         role="alert" aria-live="assertive" aria-atomic="true"
         {%- if flash.keep_open %} data-bs-autohide="false"{% endif %}>
        <div class="toast-header">
            <strong class="me-auto">
            {% match flash.flash_type %}
                {%- when crate::web::ui::flash::FlashType::Info%}<i class="bi bi-info-circle"></i> Information
                {%- when crate::web::ui::flash::FlashType::Success%}<i class="bi bi-check-lg"></i> Erfolg
                {%- when crate::web::ui::flash::FlashType::Warning%}<i class="bi bi-exclamation-triangle-fill"></i> Warning
                {%- when crate::web::ui::flash::FlashType::Error%}<i class="bi bi-x-circle-fill"></i> Fehler
            {% endmatch %}
            </strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{flash.message}}
            {% if let Some(button) = flash.button %}
                <div class="mt-2 pt-2 border-top">
                {% match button %}
                    {%- when crate::web::ui::flash::FlashMessageActionButton::ReloadCleanForm{ form_url } %}
                        <a href="{{ form_url }} " class="btn btn-primary btn-sm allow-exit-with-changes-global">{# -#}
                            <i class="bi bi-arrow-clockwise"></i> Formular neuladen</a>
                    {%- when crate::web::ui::flash::FlashMessageActionButton::SubmitForm{ form_id } %}
                        <button type="submit" form="{{ form_id }}" class="btn btn-primary btn-sm">{# -#}
                            <i class="bi bi-save"></i> Erneut speichern</button>
                {% endmatch %}
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<script src="{{ base.url_for_static("bootstrap/js/bootstrap.bundle.min.js")? }}"></script>
<script>
    const themeSwitch = document.getElementById("themeSwitch");
    themeSwitch.addEventListener("click", (e) => {
        onThemeButtonClick(e.currentTarget);
        e.preventDefault();
    });
    updateThemeButtonIcon(themeSwitch);
</script>
{% if !flashes.is_empty() %}
<script>
    const toastElList = document.querySelectorAll('.toast');
    const toastList = Array.from(toastElList).map(toastEl => new bootstrap.Toast(toastEl, {}));
    toastList.forEach(toast => toast.show());
</script>
{% endif %}
{% block scripts %}
{% endblock %}
</body>
</html>
