{% extends "base.html" %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>{{ base.page_title }}</h1>
            {% if shareable_session_token.is_some() %}
                <div class="mb-3">
                    <label for="caldavLink">iCal-Link</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="caldavLink" readonly value="{{ ical_link()? }}">
                        <button type="button" class="btn btn-outline-secondary copy-button">
                            <i class="bi bi-copy" aria-hidden="true"></i> kopieren
                            <div class="d-none text-success" style="width: 100%; height: 100%"><i class="bi bi-check"></i></div>
                        </button>
                    </div>
                    <div class="form-text">
                        <i class="bi bi-info-circle" aria-hidden="true"></i> Für Kalender-Programme und Kalender-Apps
                    </div>
                </div>
                <div class="mb-3">
                    <label for="frabXmlLink">XML-Link</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="frabXmlLink" readonly value="{{ frab_xml_link()? }}">
                        <button type="button" class="btn btn-outline-secondary copy-button">
                            <i class="bi bi-copy" aria-hidden="true"></i> kopieren
                            <div class="d-none text-success" style="width: 100%; height: 100%"><i class="bi bi-check"></i></div>
                        </button>
                    </div>
                    <div class="form-text">
                        <i class="bi bi-info-circle" aria-hidden="true"></i> Entspricht dem XML-Zeitplan-Format der Konferenz-Planungs-Tools <em>frab</em>, <em>pretalx</em> und <em>Pentabarf</em> (u.a. bekannt vom Chaos Communication Congress, der Gulasch-Programmier-Nacht und der FrOSCon) und kann mit kompatiblen Apps verwendet werden, z.B. <a href="https://wilmer.gaa.st/main.php/giggity.html">Giggity</a>.
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <i class="bi bi-exclamation-triangle" aria-hidden="true"></i> Konnte keinen Authentifizierungs-Token für Link-Freigabe erzeugen.
                </div>
                <p>
                    Keine der Passphrasen, mit denen Du authentifiziert bist, erlaubt das Erzeugen von Kalender-Links.
                    Bitte wende Dich an die Admins des KüA-Plans und authentifiziere Dich mit einer passenden Passphrase.
                </p>
                <p>
                    <a class="btn btn-outline-primary" href="{{ login_url()? }}">
                        <i class="bi-arrow-up-right-circle" aria-hidden="true"></i> Zum Login-Formular
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    for (const button of document.getElementsByClassName("copy-button")) {
        button.addEventListener("click", (e) => copyInputText(e.target));
    }

    async function copyInputText(button) {
        const input = button.parentElement.getElementsByTagName("input")[0];
        try {
            await navigator.clipboard.writeText(input.value);
        } catch (error) {
            console.error(error.message);
        }
    }
</script>
{% endblock %}
