{% extends "base_config.html" %}

{% macro entry_preview_row(entry) %}
    <li class="list-group-item {% if entry.entry.is_cancelled %}text-decoration-line-through{% endif %} {% if entry.entry.is_room_reservation %}fst-italic{% endif %}">
        {{ entry.entry.title }}<br>
        {% if !entry.entry.responsible_person.is_empty() %}
        <small class="float-end">
            {{ entry.entry.responsible_person }}
        </small>
        {% endif %}
        <small>
            {{ to_our_timezone(entry.entry.begin).format("%d.%m. %H:%M") }}&nbsp;–
            {{ to_our_timezone(entry.entry.end).format("%H:%M") }}
            {% let duration = entry.entry.end.signed_duration_since(entry.entry.begin) %}
            {% if duration >= chrono::TimeDelta::days(1) %}
            (+{{ duration.num_days() }}&nbsp;Tag{{ duration.num_days()|pluralize("", "e") }})
            {% endif %}
        </small>
    </li>
{% endmacro %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ base.url_for_static("tom-select.bootstrap5.min.css")? }}">
{% endblock %}

{% block config_content %}
<h1>
    {{ base.page_title }}
</h1>

<form method="post" action="{{post_url()?}}" id="delete_room_form">

    <div class="row mb-3">
        <div class="col-md-6 mb-3 mb-md-0">
            <div class="card mb-3">
                <div class="card-header">Zu löschender Ort</div>
                <div class="card-body">
                    <strong>{{room.title}}</strong>
                </div>
            </div>
            <div class="mb-3">
                {{ FormFieldTemplate::new(form_data.replace_rooms, "replace_rooms", "Einträge in folgende Orte verschieben", InputConfiguration::default())|safe }}
            </div>
            <div class="mb-3">
                {{ FormFieldTemplate::new(form_data.add_room_comment, "add_room_comment", "Ergänzender Kommentar zum Ort bei den betroffenen Einträgen", InputConfiguration::default())|safe }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-info">
                <div class="card-header border-info">
                    Betroffene Einträge <span class="badge text-bg-info">{{ room_entries.len() }}</span>
                </div>
                <div class="card-body">
                    {% if room_entries.len() == 0 %}
                        <div class="text-info">
                            <i class="bi bi-info-circle" aria-hidden="true"></i> Diesem Ort ist kein Eintrag zugeordnet.
                        </div>
                    {% else %}
                        <ul class="list-group list-group-flush">
                            {% if room_entries.len() > 5 %}
                                {% call entry_preview_row(room_entries[0]) %}
                                {% call entry_preview_row(room_entries[1]) %}
                                <li class="list-group-item">…</li>
                                {% call entry_preview_row(room_entries[room_entries.len()-2]) %}
                                {% call entry_preview_row(room_entries[room_entries.len()-1]) %}
                            {% else %}
                                {% for entry in room_entries %}
                                    {% call entry_preview_row(entry) %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card border-danger mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-auto mb-2 mb-md-0">
                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash" aria-hidden="true"></i> Ort löschen</button>&ensp;
                </div>
                <div class="col-md text-secondary">
                    Der Ort <span class="text-body-emphasis">{{room.title}}</span> wird dauerhaft gelöscht.
                    Aktuelle Einträge, die in diesem Ort stattfinden, werden in die oben ausgewählten Ort verschoben und ggf. um den angegebenen Raum-Kommentar ergänzt.
                    Der Ort bleibt zwar aus technischen Gründen weiterhin in der Datenbank gespeichert, kann aber nicht ohne Eingriff eines Admins wiederhergestellt werden.
                </div>
            </div>
        </div>
    </div>

    <a href="{{ base.url_for_event_endpoint("manage_rooms")? }}" class="btn btn-outline-secondary">
        <i class="bi bi-x-square" aria-hidden="true"></i> Abbrechen
    </a>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ base.url_for_static("protect_changes.js")? }}"></script>
<script src="{{ base.url_for_static("tom-select.base.min.js")? }}"></script>
<script>
    new TomSelect("#replace_roomsInput", {
        options: {{ &other_room_entries()|json|safe }}
    });
    protectChanges(document.getElementById("delete_room_form"));
</script>
{% endblock %}
