{% extends "base.html" %}

{% block custom_header %}
<style>
    {{ self::styles_for_category(entry_category) }}
</style>
{% endblock %}

{% block body %}
<div class="container mt-3" id="main">
    <h1>Eintrag bearbeiten</h1>
    {{ EditEntryNavbar::new(
           base.request,
           *base.event.expect("Event should always be known").id,
           entry.entry.id,
           base.current_date.expect("For non-new entries, `entry_id` should always be known."),
           EditEntryNavbarActiveLink::DeleteEntry,
       )|safe }}

    <h2>Aktueller Eintrag</h2>
    <table class="table table-striped kuealist">
        <thead>
        <tr>
            <th>Was?</th>
            <th>Wann?</th>
            <th>Wo?</th>
            <th>Von wem?</th>
        </tr>
        </thead>
        <tbody>
            {{ MainListRowTemplate::new(
                   base.request,
                   &MainListRow::from_entry(entry),
                   entry_category,
                   rooms,
                   false,
                   false,
                   None,
                   None,
                   MainEntryLinkMode::None
               )|safe }}
        </tbody>
    </table>
    <div class="card border-danger mt-5">
        <h2 class="card-header border-danger">
            Löschen
        </h2>
        <div class="card-body">
            <form class="row align-items-center mb-3" method="post" action="{{ base.request.url_for("delete_entry", [event.id.to_string(), entry.entry.id.to_string()])? }}">
                <div class="col-md-auto mb-2 mb-md-0">
                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash" aria-hidden="true"></i> Löschen</button>
                </div>
                <div class="col-md text-secondary">
                    Diesen Eintrag vollständig aus dem KüA-Plan löschen.
                    Der Eintrag bleibt zwar aus technischen Gründen weiterhin in der Datenbank gespeichert, kann aber nicht ohne Eingriff eines Admins wiederhergestellt werden.
                </div>
            </form>
            <form class="row align-items-center" method="post" action="{{ base.request.url_for("mark_entry_cancelled", [event.id.to_string(), entry.entry.id.to_string()])? }}">
                <div class="col-md-auto mb-2 mb-md-0">
                    <button type="submit" class="btn btn-primary" {% if entry.entry.is_cancelled %}disabled{% endif %}>
                        <i class="bi bi-x-circle" aria-hidden="true"></i> Als „fällt aus“ markieren
                    </button>
                </div>
                <div class="col-md text-secondary">
                    Diesen Eintrag ändern, sodass er als ausfallend dargestellt wird.
                    Dies entspricht der Option „fällt aus“ im Bearbeitungs-Formular.
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
