{% extends "base_config.html" %}


{% block config_content %}
<h1>
    {{ base.page_title }}
</h1>

<div class="card mb-3">
    <div class="card-header">Zu löschende Passphrase</div>
    <div class="card-body">
        {{self::format_access_role(passphrase.privilege)}}
        / {{self::format_passphrase(passphrase.passphrase)}}
        {% if let Some(parent_passphrase) = parent_passphrase %}
            (ableitbar von
            {{self::format_access_role(parent_passphrase.privilege)}}
            / {{self::format_passphrase(parent_passphrase.passphrase)}})
        {% endif %}
    </div>
</div>

<div class="card border-danger mb-3">
    <div class="card-body">
        <form class="row" method="post" action="{{ base.request.url_for("delete_passphrase", [event_id.to_string(), passphrase.id.to_string()])? }}">
            <div class="col-md-auto mb-2 mb-md-0">
                <button type="submit" class="btn btn-danger"><i class="bi bi-trash" aria-hidden="true"></i> Löschen</button>
            </div>
            <div class="col-md text-secondary">
                Diese {% if passphrase.passphrase.is_some() %}Passphrase{% else %}ableitbare Rolle{% endif %} vollständig löschen.
                {% if passphrase.passphrase.is_some() %}
                    Die Passphrase kann nicht mehr zum Login verwendet werden.
                {%endif%}
                Alle Benutzer, die zurzeit mit dieser Passphrase/Rolle eingeloggt sind, werden ausgeloggt.
                {% if passphrase.privilege == AccessRole::SharableViewLink %}
                    Alle Links, die mit dieser Rolle erstellt wurden, werden ungültig.
                {% endif %}
            </div>
        </form>
    </div>
</div>

<a href="{{ base.url_for_event_endpoint("manage_passphrases")? }}" class="btn btn-outline-secondary">
    <i class="bi bi-x-square" aria-hidden="true"></i> Abbrechen
</a>
{% endblock %}
