{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ base.url_for_static("tom-select.bootstrap5.min.css")? }}">
{% endblock %}

{% block body %}
<div class="container mt-3" id="main">
    <h1>
        {{ base.page_title }}
    </h1>

    {% if !is_new_entry %}
        {{ sub_templates::edit_entry_helpers::EditEntryNavbar::new(
               base.request,
               *base.event.expect("Event should always be known").id,
               entry_id.expect("For non-new entries, `entry_id` should always be known."),
               base.current_date.expect("For non-new entries, `entry_id` should always be known."),
               sub_templates::edit_entry_helpers::EditEntryNavbarActiveLink::EditEntry,
           )|safe }}
    {% endif %}

    {# Firefox auto-fills the form inputs with previously entered values when navigating back. It doesn't do this for
       the hidden input. Thus, our concurrent-modification protection breaks when navigating back.
       To prevent this, we disable 'autocomplete' in the form, which also disables the auto-fill. #}
    <form method="post" action="{{post_url()?}}" autocomplete="off" id="edit_entry_form"
          {% if has_unsaved_changes %}data-consider-changed="true"{% endif %}>
    <div class="mb-3">
        {{ FormFieldTemplate::new(form_data.title, "title", "Titel", InputConfiguration::builder().size(InputSize::Large).build())|safe }}
    </div>
    <div class="mb-3">
        {{ FormFieldTemplate::new(form_data.comment, "comment", "Kommentar / Kurze Beschreibung", InputConfiguration::builder().size(InputSize::Small).info("wird unter dem Titel angezeigt").build())|safe }}
    </div>
    <div class="mb-3">
        {{ CheckboxTemplate::new(form_data.is_cancelled, "is_cancelled", "fällt aus", None)|safe }}
    </div>
    <div class="row g-3 mb-3">
        <div class="col-md-6">
            <div class="mb-3">
                {{ FormFieldTemplate::new(form_data.responsible_person, "responsible_person", "von wem? / Ansprechpersonen", InputConfiguration::default())|safe }}
            </div>
            <div>
                {{ SelectTemplate::new(form_data.category, "category", &category_entries(), "Kategorie", InputConfiguration::builder().size(InputSize::Normal).build())|safe }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                {{ CheckboxTemplate::new(form_data.is_room_reservation, "is_room_reservation", "ist ein Raum-Blocker", Some("d.h. keine öffentliche KüA"))|safe }}
            </div>
            <div>
                {{ CheckboxTemplate::new(form_data.is_exclusive, "is_exclusive", "ist exklusiver Zeitslot", Some("Du sollst keine anderen KüAs neben mir haben."))|safe }}
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-md-6">
            <div class="row g-3 mb-3">
                <div class="col-sm-4">
                    {{ SelectTemplate::new(form_data.day, "day", &day_entries(), "Tag", InputConfiguration::builder().size(InputSize::Normal).build())|safe }}
                </div>
                <div class="col-6 col-sm-4">
                    {{ FormFieldTemplate::new(form_data.begin, "begin", "Beginn", InputConfiguration::builder().input_type(InputType::Time).build())|safe }}
                </div>
                <div class="col-6 col-sm-4">
                    {{ FormFieldTemplate::new(form_data.duration, "duration", "Dauer", InputConfiguration::builder().suffix_text("h").build())|safe }}
                </div>
            </div>
            <div class="mb-3">
                {{ FormFieldTemplate::new(form_data.time_comment, "time_comment", "Kommentar zur Zeit", InputConfiguration::builder().size(InputSize::Small).build())|safe }}
            </div>
            <div class="mb-3">
                {{ FormFieldTemplate::new(form_data.rooms, "rooms", "Orte", InputConfiguration::default())|safe }}
            </div>
            <div>
                {{ FormFieldTemplate::new(form_data.room_comment, "room_comment", "Kommentar zum Ort", InputConfiguration::builder().size(InputSize::Small).info("z.B. Treffpunkt").build())|safe }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-info">
                <div class="card-header border-info">Parallele Einträge</div>
                <div class="position-relative">
                    <div class="overflow-y-auto" style="height: 280px; max-height: 65vh;">
                        <ul class="list-group list-group-flush" id="concurrentEntriesList">
                        </ul>
                    </div>
                    <div class="loader-overlay" id="concurrentEntriesOverlay">
                        <div class="spinner-border" role="status" id="concurrentEntriesSpinner">
                            <span class="visually-hidden">Loading</span>
                        </div>
                        <span class="text-danger text-center d-none" id="concurrentEntriesError">
                            <strong>Konnte parallele Einträge nicht laden</strong><br>
                            <span class="error-message"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        {{ FormFieldTemplate::new(
            form_data.description,
            "description",
            "Ausführliche Beschreibung",
            InputConfiguration::builder()
                .input_type(InputType::Textarea)
                .info("Unterstützt Markdown")
                .build())|safe }}
    </div>
    {% if !is_new_entry %}
        <div class="card mb-3">
            <div class="card-header">
                {{ CheckboxTemplate::new(form_data.create_previous_date,
                "create_previous_date",
                "Hinweis zur Verschiebung am vorherigen Termin im KüA-Plan anlegen",
                Some("Nur wirksam, wenn Zeit oder Orte geändert werden."))|safe }}
            </div>
            <div class="card-body">
                {{ FormFieldTemplate::new(form_data.previous_date_comment, "previous_date_comment", "Kommentar zur Verschiebung", InputConfiguration::builder().size(InputSize::Small).build())|safe }}
            </div>
        </div>
        {{ HiddenInputTemplate::new(form_data.last_updated, "last_updated")?|safe }}
    {% else %}
        {{ HiddenInputTemplate::new(form_data.entry_id, "entry_id")?|safe }}
    {% endif %}
    <button type="submit" class="btn btn-primary"><i class="bi bi-save" aria-hidden="true"></i> Speichern</button>&ensp;
        <a href="{{ abort_url()? }}" class="btn btn-outline-secondary allow-exit-with-changes">
            <i class="bi bi-x-square" aria-hidden="true"></i> Abbrechen
        </a>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ base.url_for_static("protect_changes.js")? }}"></script>
<script src="{{ base.url_for_static("edit_entry_form.js")? }}"></script>
<script src="{{ base.url_for_static("tom-select.base.min.js")? }}"></script>
<script>
    const rooms = {{ room_entries()|json|safe }};
    const entryId = {% if let Some(entry_id) = entry_id %}{{entry_id.to_string()|json|safe}}{% else %}null{%endif%};
    new TomSelect("#roomsInput", {
        options: rooms
    });
    protectChanges(document.getElementById("edit_entry_form"));
    initializeEditEntryForm(
        {{ Self::effective_begin_of_day_milliseconds() }},
        rooms,
        {{ base.url_for_event_endpoint("concurrent_entries")?.to_string()|json|safe }},
        entryId
    );
</script>
{% endblock %}
