{% extends "base_config.html" %}

{% block config_content %}
<h1>
    {{ base.page_title }}
</h1>

<form method="post" action="{{post_url()?}}" id="edit_room_form" {% if has_unsaved_changes %}data-consider-changed="true"{% endif %}>
    <div class="mb-3">
        {{ FormFieldTemplate::new(form_data.title, "title", "Name des Orts", InputConfiguration::builder().size(InputSize::Large).build())|safe }}
    </div>
    <div class="mb-3">
        {{ FormFieldTemplate::new(
            form_data.description,
            "description",
            "Beschreibung",
            InputConfiguration::builder()
                .input_type(InputType::Textarea)
                .build())|safe }}
    </div>
    {% if is_new_room %}
        {{ HiddenInputTemplate::new(form_data.room_id, "room_id")?|safe }}
    {% endif %}
    <button type="submit" class="btn btn-primary"><i class="bi bi-save" aria-hidden="true"></i> Speichern</button>&ensp;
    <a href="{{ base.url_for_event_endpoint("manage_rooms")? }}" class="btn btn-outline-secondary allow-exit-with-changes">
        <i class="bi bi-x-square" aria-hidden="true"></i> Abbrechen
    </a>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ base.url_for_static("protect_changes.js")? }}"></script>
<script>
    protectChanges(document.getElementById("edit_room_form"));
</script>
{% endblock %}
