{% extends "base.html" %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-4">{{ base.page_title }}</h1>
            <div class="alert alert-danger" role="alert">
                <i class="bi-exclamation-circle-fill"></i> {% block error_message %}Interner Fehler: {{ "{:?}"|format(error) }}{% endblock %}
            </div>
            {% block error_description %}
                <p>
                    Das sollte nicht passieren.
                </p>
                <p>
                    Bitte melde dich mit den folgenden Informationen beim Admin dieser Seite ({{admin_name}}
                    &lt;<a href="mailto:{{admin_name}} &lt;{{admin_email}}&gt;">{{admin_email}}</a>&gt;):
                </p>
            {% endblock %}
            <div class="error-technical-info">
                Timestamp: {{ timestamp }}<br>
                URL: {{ url }}<br>
                Error: {{ "{:?}"|format(error) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
