{% extends "base.html" %}

{% block custom_header %}
<style>
    {{ self::styles_for_category(category) }}
</style>
{% endblock %}

{% block body %}
<div class="container mt-3" id="main">
    {% for announcement in announcements %}
        {{ AnnouncementTemplate::new(announcement.announcement)|safe }}
    {% endfor %}

    <h1>
        KüA-Plan, Kategorie {{ category.title }}
    </h1>

    <div class="d-none d-print-block">
        Stand: {{ to_our_timezone(&chrono::offset::Utc::now()).format("%d.%m. %H:%M") }}
    </div>

    {% if entry_blocks.is_empty() %}
        <div class="alert alert-info mt-4">
            <i class="bi bi-info-circle" aria-hidden="true"></i>
            Aktuell sind keine KüAs in der Kategorie {{ category.title }} geplant.
        </div>
    {% endif %}

    {% for (date, rows) in entry_blocks %}
        <h3 class="mt-4">
            {{ date|weekday }}, {{ date.format("%d.%m.%Y") }}
            {% if *date == self::current_effective_date() %}
                <span class="d-print-none">(heute)</span>
            {% endif %}
        </h3>
        <table class="table table-striped kuealist">
            <thead>
            <tr>
                <th>Was?</th>
                <th>Wann?</th>
                <th>Wo?</th>
                <th>Von wem?</th>
            </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                {{ MainListRowTemplate::new(base.request,
                                            **row,
                                            category,
                                            rooms,
                                            base.has_privilege(Privilege::ManageEntries),
                                            true,
                                            Some(**date),
                                            None,
                                            MainEntryLinkMode::ByCategory)|safe }}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    {% if !entries_with_descriptions.is_empty() %}
        <hr class="mb-5 mt-5 d-print-none"/>
        <h2 style="page-break-before: always;">Beschreibungen</h2>
        {% for entry in entries_with_descriptions %}
            <h3 id="entry-desc-{{ entry.entry.id.to_string() }}">{{ entry.entry.title }} <a href="#entry-{{ entry.entry.id.to_string() }}" class="entry-backlink"><i class="bi-link"></i></a></h3>
            <p>
                {{ to_our_timezone(entry.entry.begin).format("%d.%m. %H:%M") -}}
                {% if !entry.room_ids.is_empty() %} • {% endif -%}
                {% for room_id in entry.room_ids %}{{ rooms[room_id].title }}{% if !loop.last %}, {% endif %}{% endfor -%}
                {% if !entry.entry.responsible_person.is_empty() %} • von {{ entry.entry.responsible_person }}{% endif %}
            </p>
            {{ entry.entry.description|markdown }}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

