{% extends "base.html" %}

{% block custom_header %}
<style>
    {% for category in categories.values() %}
        {{ self::styles_for_category(category) }}
    {% endfor %}
</style>
{% endblock %}

{% block body %}
<div class="container mt-3" id="main">
    {% for announcement in announcements %}
        {{ AnnouncementTemplate::new(announcement.announcement) }}
    {% endfor %}

    <h1>
        KüA-Plan {{ date|weekday }}, {{ date.format("%d.%m.%Y") }}
        {% if date == self::current_effective_date(event.clock_info) %}
            <span class="d-print-none">(heute)</span>
        {% endif %}
        {% if let Some(time_after) = time_after %}
            <br><small>ab {{ time_after.format("%H:%M") }} Uhr</small>
        {% endif %}
    </h1>

    <div class="d-none d-print-block">
        Stand: {{ to_our_timezone(&chrono::offset::Utc::now()).format("%d.%m. %H:%M") }}
    </div>

    {% if let Some((preceding_event, preceding_event_date)) = preceding_event_link_data() %}
        <div class="d-grid col-12 col-sm-8 col-md-6 col-xl-4 mx-auto mt-4">
            <a href="{{ base.request.url_for("main_list", [preceding_event.id.to_string(), preceding_event_date.to_string()])? }}"
               class="btn btn-outline-primary d-block" title="Zur vorangegangenen Veranstaltung {{ preceding_event.title }}">
                <div class="row">
                    <div class="col-2"><i class="bi bi-chevron-double-up"></i></div>
                    <div class="col-8">{{ preceding_event.title }}</div>
                    <div class="col-2"><i class="bi bi-chevron-double-up"></i></div>
                </div>
            </a>
        </div>
    {% endif %}

    {% if entry_blocks.is_empty() %}
        <div class="alert alert-info mt-4">
            <i class="bi bi-info-circle" aria-hidden="true"></i>
            Aktuell sind am {{ date.format("%d.%m.") }} keine KüAs geplant.
        </div>
    {% endif %}

    {% for (block_name, rows) in entry_blocks %}
        {% if entry_blocks.len() > 1 %}<h3 class="mt-4">{{ block_name }}</h3>{% endif %}
        <table class="table table-striped kuealist">
            <thead>
            <tr>
                <th scope="col">Was?</th>
                <th scope="col">Wann?</th>
                <th scope="col">Wo?</th>
                <th scope="col">Von wem?</th>
            </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    {% let category = categories.get(row.entry.entry.category).ok_or("Category not found")? %}
                    {{ MainListRowTemplate::new(base.request,
                                                **row,
                                                category,
                                                rooms,
                                                event.clock_info,
                                                base.has_privilege(Privilege::ManageEntries),
                                                true,
                                                Some(*date),
                                                None,
                                                MainEntryLinkMode::ByDate)|safe }}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    {% if let Some((subsequent_event, subsequent_event_date)) = subsequent_event_link_data() %}
        <div class="d-grid col-12 col-sm-8 col-md-6 col-xl-4 mx-auto mt-4">
            <a href="{{ base.request.url_for("main_list", [subsequent_event.id.to_string(), subsequent_event_date.to_string()])? }}"
               class="btn btn-outline-primary d-block" title="Zur nachfolgenden Veranstaltung {{ subsequent_event.title }}">
                <div class="row">
                    <div class="col-2"><i class="bi bi-chevron-double-down"></i></div>
                    <div class="col-8">{{ subsequent_event.title }}</div>
                    <div class="col-2"><i class="bi bi-chevron-double-down"></i></div>
                </div>
            </a>
        </div>
    {% endif %}

    {% if !entries_with_descriptions.is_empty() %}
        <hr class="mb-5 mt-5 d-print-none"/>
        <h2 style="page-break-before: always;">Beschreibungen</h2>
        {% for entry in entries_with_descriptions %}
            <h3 id="entry-desc-{{ entry.entry.id.to_string() }}">{{ entry.entry.title }} <a href="#entry-{{ entry.entry.id.to_string() }}" class="entry-backlink"><i class="bi-link"></i></a></h3>
            <p>
                {{ to_our_timezone(entry.entry.begin).format("%d.%m. %H:%M") -}}
                {% if !entry.room_ids.is_empty() %} • {% endif -%}
                {% for room in rooms.iter_rooms_by_id_ordered(entry.room_ids.iter()) %}{{ room.title }}{% if !loop.last %}, {% endif %}{% endfor -%}
                {% if !entry.entry.responsible_person.is_empty() %} • von {{ entry.entry.responsible_person }}{% endif %}
            </p>
            {{ entry.entry.description|markdown }}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block footer_extra_text %}
{% for after_time in footer_constrained_link_times %}
    <a href="{{link_to_time_constrained_list(after_time)?}}">nur ab {{ after_time.format("%H:%M") }}</a>
    {% if !loop.last %} | {% endif %}
{% endfor %}
<br>
{% endblock %}
