{% extends "base.html" %}

{% block custom_header %}
<style>
    {% for category in categories.values() %}
        {{ self::styles_for_category(category) }}
    {% endfor %}
</style>
{% endblock %}

{% block body %}
<div class="container mt-3" id="main">
    <h1>
        KüA-Plan {{ date|weekday }}, {{ date.format("%d.%m.%Y") }}
    </h1>
    {% for (block_name, rows) in entry_blocks %}
        {% if entry_blocks.len() > 1 %}<h3>{{ block_name }}</h3>{% endif %}
        <table class="table table-striped kuealist">
            <thead>
            <tr>
                <th>Was?</th>
                <th>Wann?</th>
                <th>Wo?</th>
                <th>Von wem?</th>
            </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    {% let category = categories.get(row.entry.entry.category).ok_or("Category not found")? %}
                    {{ MainListRowTemplate::new(base.request, **row, category, rooms, base.can_manage_entries(), true, Some(*date))|safe }}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    {% if !entries_with_descriptions.is_empty() %}
        <h2 style="page-break-before: always;">Beschreibungen</h2>
        {% for entry in entries_with_descriptions %}
            <h3 id="entry-desc-{{ entry.entry.id.to_string() }}">{{ entry.entry.title }} <a href="#entry-{{ entry.entry.id.to_string() }}" class="entry-backlink"><i class="bi-link"></i></a></h3>
            {{ entry.entry.description|markdown }}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
