{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ base.url_for_static("tom-select.bootstrap5.min.css")? }}">
{% endblock %}
{% block custom_header %}
<style>
    {# required for preview #}
    {% for category in categories %}
        {{ self::styles_for_category(category) }}
    {% endfor %}
</style>
{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8" id="main">
            <h1>
                {{ base.page_title }}
            </h1>

            <form method="post" action="{{post_url()?}}" id="submit_entry_form"
                  {% if has_unsaved_changes %}data-consider-changed="true"{% endif %}>

                <ul class="nav nav-underline mb-3 nav-assistant-tabs" id="form-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="base-tab" data-bs-toggle="tab" data-bs-target="#base-tab-pane" type="button" role="tab" aria-controls="base-tab-pane" aria-selected="true">Start</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="time-place-tab" data-bs-toggle="tab" data-bs-target="#time-place-tab-pane" type="button" role="tab" aria-controls="time-place-tab-pane" aria-selected="false">Zeit & Ort</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="description-tab" data-bs-toggle="tab" data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="description-tab-pane" aria-selected="false">Beschreibung</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="preview-tab" data-bs-toggle="tab" data-bs-target="#preview-tab-pane" type="button" role="tab" aria-controls="description-tab-pane" aria-selected="false">Vorschau</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="base-tab-pane" role="tabpanel" aria-labelledby="base-tab" tabindex="0">
                        <div class="mb-3">
                            {{ FormFieldTemplate::new(form_data.title, "title", "Titel der KüA").size(InputSize::Large) }}
                        </div>
                        <div class="mb-3">
                            {{ FormFieldTemplate::new(form_data.responsible_person, "responsible_person", "von wem?")
                                   .info("Wer bietet die KüA an? Bitte nenne hier mindestens eine konkrete Ansprechperson mit Namen, für Rückfragen durch Orgas und andere Teilnehmende.") }}
                        </div>
                        <div class="mb-3">
                            {{ SelectTemplate::new(form_data.category, "category", &category_entries(), "Kategorie").info("Bitte wähle die am besten passende Kategorie aus.") }}
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-primary float-end" data-tab-button="next">Weiter <i class="bi bi-chevron-right" aria-hidden="true"></i></button>
                            <a href="{{ abort_url()? }}" class="btn btn-outline-secondary allow-exit-with-changes">
                                <i class="bi bi-x-square" aria-hidden="true"></i> Abbrechen
                            </a>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="time-place-tab-pane" role="tabpanel" aria-labelledby="time-place-tab" tabindex="0">
                        <div class="mb-3">
                            {% if event.clock_info.effective_begin_of_day != chrono::NaiveTime::from_hms_opt(0,0,0).unwrap() %}
                                {{ SelectTemplate::new(form_data.day, "day", &day_entries(), "Tag")
                                        .info(&format!(
                                            "Beachte, dass Akademie-Tage erst um {0} Uhr am folgenden Kalendertag enden.",
                                            self.event.clock_info.effective_begin_of_day.format("%-H:%M"))) }}
                            {% else %}
                                {{ SelectTemplate::new(form_data.day, "day", &day_entries(), "Tag") }}
                            {% endif %}
                        </div>
                        <div class="row g-3 mb-3">
                            <div class="col-6 col-sm-4">
                                {{ FormFieldTemplate::new(form_data.begin, "begin", "Beginn")
                                       .input_type(InputType::Time) }}
                            </div>
                            <div class="col-6 col-sm-4">
                                {{ FormFieldTemplate::new(form_data.duration, "duration", "Dauer")
                                       .info("Angabe in Stunden mit Komma (1,5) oder Stunden:Minuten (1:30)")
                                       .suffix_text("h") }}
                            </div>
                            <div class="col-12 col-sm-4">
                                <label for="endInput" class="form-label">Ende</label>
                                <input class="form-control" type="text" value="0:00" id="endInput" disabled="disabled" aria-live="polite">
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ FormFieldTemplate::new(form_data.time_comment, "time_comment", "Kommentar zur Zeit")
                            .info("z.B. mögliche Änderungen der Zeit, wie „Nach dem Literaturabend“") }}
                        </div>
                        <hr class="mb-4 mt-4" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ FormFieldTemplate::new(form_data.rooms, "rooms", "Orte")
                                           .info("Wähle hier den Ort oder die Orte aus, an denen die KüA hauptsächlich stattfinden soll. Wenn es einen abweichenden Treffpunkt gibt, trage diesen stattdessen unten als Kommentar zum Ort ein.") }}
                                </div>
                                <div class="mb-3">
                                    {{ FormFieldTemplate::new(form_data.room_comment, "room_comment", "Kommentar zum Ort")
                                           .info("z.B. Treffpunkt") }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card border-info" aria-live="polite" role="complementary" aria-labelledby="parallelEntriesHeading">
                                    <div class="card-header border-info" id="parallelEntriesHeading">
                                        <i class="bi bi-info-circle" aria-hidden="true"></i>
                                        Parallele Einträge
                                    </div>
                                    <div class="position-relative" id="parallelEntriesBox">
                                        <div class="overflow-y-auto" style="height: 280px; max-height: 65vh;">
                                            <ul class="list-group list-group-flush entries-fetcher-results" aria-hidden="true">
                                            </ul>
                                        </div>
                                        <div class="loader-overlay">
                                            <div class="spinner-border entries-fetcher-spinner" role="status">
                                                <span class="visually-hidden">Loading</span>
                                            </div>
                                            <span class="text-danger text-center entries-fetcher-error d-none" role="status">
                                                <strong>Konnte parallele Einträge nicht laden</strong><br>
                                                <span class="error-message"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-primary float-end" data-tab-button="next">Weiter <i class="bi bi-chevron-right" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-outline-secondary" data-tab-button="prev"><i class="bi bi-chevron-left" aria-hidden="true"></i> Zurück</button>
                            <a href="{{ abort_url()? }}" class="btn btn-outline-secondary allow-exit-with-changes">
                                <i class="bi bi-x-square" aria-hidden="true"></i> Abbrechen
                            </a>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="description-tab-pane" role="tabpanel" aria-labelledby="description-tab" tabindex="0">
                        <div class="mb-3">
                            {{ FormFieldTemplate::new(form_data.comment, "comment", "Kommentar / Kurze Beschreibung")
                            .size(InputSize::Small)
                            .info("Wird unter dem Titel angezeigt. Für kurze Erläuterungen oder Hinweise.") }}
                        </div>
                        <div class="mb-3">
                            {{ FormFieldTemplate::new(form_data.description, "description", "Ausführliche Beschreibung")
                                    .input_type(InputType::Textarea)
                                    .info("Unterstützt Markdown")
                            }}
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-primary float-end" data-tab-button="next">Weiter <i class="bi bi-chevron-right" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-outline-secondary" data-tab-button="prev"><i class="bi bi-chevron-left" aria-hidden="true"></i> Zurück</button>
                            <a href="{{ abort_url()? }}" class="btn btn-outline-secondary allow-exit-with-changes">
                                <i class="bi bi-x-square" aria-hidden="true"></i> Abbrechen
                            </a>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="preview-tab-pane" role="tabpanel" aria-labelledby="preview-tab" tabindex="0">
                        <div class="card border-info mb-3">
                            <div class="card-header border-info">Vorschau</div>
                            <div class="card-body">
                                <table class="table kuealist">
                                    <thead>
                                        <tr>
                                            <th scope="col">Was?</th>
                                            <th scope="col">Wann?</th>
                                            <th scope="col">Wo?</th>
                                            <th scope="col">Von wem?</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="entryPreviewRow">
                                            <td class="kuea-title aside-container">
                                                {# TODO category icon preview (inkl. name) #}
                                                <span class="content" data-copy-from="titleInput">Wise Crowds Consulting - Orgateamfindung</span>
                                                <div class="comment mt-1" data-copy-from="commentInput">Du kannst helfen!</div>
                                            </td>
                                            <td class="kuea-time">
                                                <span class="text-nowrap" id="timePreview">21:10&nbsp;– 22:40</span>
                                                <div class="comment" data-copy-from="time_commentInput">10 Minuten nach Aktiventreffen</div>
                                            </td>
                                            <td class="kuea-place">
                                                <span id="roomPreview"></span>
                                                <div class="comment" data-copy-from="room_commentInput"></div>
                                            </td>
                                            <td class="kuea-people">
                                                <span class="d-inline d-sm-none">von</span> <span data-copy-from="responsible_personInput"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <section id="descriptionMarkdownPreview" class="mt-4 pt-3 border-top">
                                    <h3 data-copy-from="titleInput"></h3>
                                    <p>
                                        <span id="timePreview2"></span><span id="roomPreview2"></span> • von <span data-copy-from="responsible_personInput"></span>
                                    </p>
                                    <div class="body">
                                        <p>Du bist auf einer CdE Akademie? Glückwunsch, du erfüllst alle notwendigen Kriterien, um am Wise Crowds Consulting teilnehmen zu können! Wir werden in einer großen Runde den Vorstand und das Akademieteam beraten, wie wir den Prozess der Orgateamfindung neu gestalten und verbessern können. Dafür brauchen wir ganz viele Menschen mit noch mehr verschiedenen Denkweisen und Ideen. Kommt also zahlreich zum Aktiventreffen und bleibt danach noch ein Weilchen länger da. Wir starten 10 min nach dem Aktiventreffen.</p>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ FormFieldTemplate::new(form_data.submitter_comment, "submitter_comment", "Hinweise für die Orgas")
                                   .input_type(InputType::Textarea)
                                   .info("Dieser Text wird nur den Orgas angezeigt. Hier kannst Du z.B. relevante Informationen für die Überprüfung des KüA-Plan-Eintrags oder Anmerkungen zur Raum- und Zeitplanung eintragen.")
                            }}
                        </div>
                        {% if event.entry_submission_mode.allows_publish_before_review() %}
                            <div class="mb-3">
                                {{ CheckboxTemplate::new(form_data.publish_before_review, "publish_before_review", "Sofort veröffentlichen")
                                        .info("Wenn du dieses Häkchen entfernst, wirst die KüA erst nach der Überprüfung durch die Orgas öffentlich angezeigt.") }}
                            </div>
                        {% endif %}

                        {{ HiddenInputTemplate::new(form_data.entry_id, "entry_id")? }}
                        <div>
                            <button type="submit" class="btn btn-primary mb-1 float-end">
                                <i class="bi bi-send-fill" aria-hidden="true"></i>
                                Einreichen
                            </button>
                            <button type="button" class="btn btn-outline-secondary" data-tab-button="prev"><i class="bi bi-chevron-left" aria-hidden="true"></i> Zurück</button>
                            <a href="{{ abort_url()? }}" class="btn btn-outline-secondary allow-exit-with-changes">
                                <i class="bi bi-x-square" aria-hidden="true"></i> Abbrechen
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ base.url_for_static("protect_changes.js")? }}"></script>
<script src="{{ base.url_for_static("edit_entry_form_utils.js")? }}"></script>
<script src="{{ base.url_for_static("tom-select.base.min.js")? }}"></script>
<script src="{{ base.url_for_static("tabbed-form.js")? }}"></script>
<script src="{{ base.url_for_static("submit_entry_form.js")? }}"></script>
<script>
    const rooms = {{ room_entries()|json|safe }};
    new TomSelect("#roomsInput", {
        options: rooms,
        clearAfterSelect: true,
        closeAfterSelect: true,
    });
    protectChanges(document.getElementById("submit_entry_form"));
    initializeSubmitEntryForm(
        {{ effective_begin_of_day_milliseconds() }},
        rooms,
        {{ base.url_for_event_endpoint("concurrent_entries")?.to_string()|json|safe }},
        {{ base.url_for_event_endpoint("markdown_preview")?.to_string()|json|safe }}
    );
    initializeTabbedForm(document.getElementById("form-tabs"));
</script>
{% endblock %}
