{% extends "base.html" %}

{% block custom_header %}
<style>
    {{ self::styles_for_category(entry_category) }}
</style>
{% endblock %}

{% block body %}
<div class="container mt-3" id="main">
    <h1>Eintrag bearbeiten</h1>
    {{ EditEntryNavbar::new(
           base.request,
           *base.event.expect("Event should always be known").id,
           entry.entry.id,
           base.current_date.expect("For non-new entries, `entry_id` should always be known."),
           EditEntryNavbarActiveLink::PreviousDatesOverview,
       )|safe }}

    <h2>Aktueller Eintrag</h2>
    <table class="table table-striped kuealist">
        <thead>
        <tr>
            <th>Was?</th>
            <th>Wann?</th>
            <th>Wo?</th>
            <th>Von wem?</th>
        </tr>
        </thead>
        <tbody>
        {{ MainListRowTemplate::new(
               base.request,
               &MainListRow::from_entry(entry),
               entry_category,
               rooms,
               false,
               false,
               None,
               None,
               MainEntryLinkMode::None
           )|safe }}
        </tbody>
    </table>

    <h2>
        Vorherige Termine
    </h2>
    {% if entry.previous_dates.is_empty() %}
        <div class="alert alert-info">
            <i class="bi bi-info-circle" aria-hidden="true"></i>
            Dieser Eintrag wurde bisher nicht verschoben bzw. die vorherigen Termine wurden nicht gespeichert.
        </div>
    {% else %}
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>Wann?</th>
                    <th>Wo?</th>
                    <th>Kommentar zur Verschiebung</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for previous_date in entry.previous_dates %}
                    <tr>
                        <td>
                            <small>{{ to_our_timezone(previous_date.previous_date.begin).format("%d.%m.") }}</small>
                            {{ to_our_timezone(previous_date.previous_date.begin).format("%H:%M") }}&nbsp;–
                            {{ to_our_timezone(previous_date.previous_date.end).format("%H:%M") }}
                            {% let duration = previous_date.previous_date.end.signed_duration_since(previous_date.previous_date.begin) %}
                            {% if duration >= chrono::TimeDelta::days(1) %}
                                (+{{ duration.num_days() }}&nbsp;Tag{{ duration.num_days()|pluralize("", "e") }})
                            {% endif %}
                        </td>
                        <td>
                            {% for room_id in previous_date.room_ids %}
                                {{ rooms[room_id].title }}{% if !loop.last %}, {% endif -%}
                            {% endfor %}
                        </td>
                        <td>
                            {{ previous_date.previous_date.comment }}
                        </td>
                        <td class="text-end">
                            <form class="d-inline-block" method="post"
                                  action="{{ base.request.url_for("delete_previous_date", [event.id.to_string(), entry.entry.id.to_string(), previous_date.previous_date.id.to_string()])? }}">
                                <button type="submit" class="btn btn-sm btn-danger" title="Diesen vorherigen Termin aus dem KüA-Plan löschen">
                                    <i class="bi bi-trash" aria-hidden="true"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
