{% extends "base.html" %}

{% block custom_header %}
<style>
    {{ self::styles_for_category(entry_category) }}
</style>
{% endblock %}

{% block body %}
<div class="container mt-3" id="main">
    <h1>Eintrag bearbeiten</h1>
    {{ EditEntryNavbar::new(
           base.request,
           *base.get_basic_event().expect("Event should always be known").id,
           entry.entry.id,
           base.current_date.expect("For non-new entries, `entry_id` should always be known."),
           EditEntryNavbarActiveLink::PreviousDatesOverview,
       ) }}

    <h2 class="fs-4">Aktueller Eintrag</h2>
    <table class="table table-striped kuealist">
        <thead>
        <tr>
            <th scope="col">Was?</th>
            <th scope="col">Wann?</th>
            <th scope="col">Wo?</th>
            <th scope="col">Von wem?</th>
        </tr>
        </thead>
        <tbody>
            {{ MainListRowTemplate::new( base.request, &MainListRow::from_entry(entry), entry_category, rooms, event.clock_info) }}
        </tbody>
    </table>

    <h2 class="fs-4">
        Vorherige Termine
    </h2>
    <div class="table-responsive-lg">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th scope="col">Wann?</th>
                    <th scope="col">Wo?</th>
                    <th scope="col">Kommentar zur Verschiebung</th>
                    <th scope="col"><span class="visually-hidden">Aktionen</span></th>
                </tr>
            </thead>
            <tbody>
                {% if entry.previous_dates.is_empty() %}
                    <tr><td colspan="6" class="text-info">– Für diesen Eintrag wurden keine vorherigen Termine gespeichert. –</td></tr>
                {% endif %}
                {% for previous_date in entry.previous_dates %}
                    <tr>
                        <td>
                            <small>{{ to_our_timezone(previous_date.previous_date.begin).format("%d.%m.") }}</small>
                            {{ to_our_timezone(previous_date.previous_date.begin).format("%H:%M") }}&nbsp;–
                            {{ to_our_timezone(previous_date.previous_date.end).format("%H:%M") }}
                            {% let duration = previous_date.previous_date.end.signed_duration_since(previous_date.previous_date.begin) %}
                            {% if duration >= chrono::TimeDelta::days(1) %}
                                (+{{ duration.num_days() }}&nbsp;Tag{{ duration.num_days()|pluralize("", "e") }})
                            {% endif %}
                        </td>
                        <td>
                            {% for room in rooms.iter_rooms_by_id_ordered(previous_date.room_ids.iter()) %}
                                {{ room.title }}{% if !loop.last %}, {% endif -%}
                            {% endfor %}
                        </td>
                        <td>
                            {{ previous_date.previous_date.comment }}
                        </td>
                        <td class="shrink-to-content">
                            <form class="d-inline-block" method="post"
                                  action="{{ base.request.url_for("delete_previous_date", [event.basic_data.id.to_string(), entry.entry.id.to_string(), previous_date.previous_date.id.to_string()])? }}">
                                <button type="submit" class="btn btn-sm btn-danger" title="Diesen vorherigen Termin aus dem KüA-Plan löschen">
                                    <i class="bi bi-trash" aria-hidden="true"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <a href="{{ base.request.url_for("new_previous_date_form", [event.basic_data.id.to_string(), entry.entry.id.to_string()])? }}" class="btn btn-outline-success"><i class="bi bi-plus-lg" aria-hidden="true"></i> Vorherigen Termin hinzufügen</a>
    </div>
</div>
{% endblock %}
