{% extends "base.html" %}


{% block body %}
<div class="container mt-3" id="main">
    <h1>Eintrag bearbeiten</h1>

    <ul class="nav nav-underline m-3">
        <li class="nav-item">
            <a class="nav-link" href="{{ util::url_for_entry(base.request, entry.entry)? }}">
                <i class="bi bi-arrow-left" aria-label="Zurück"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ util::url_for_edit_entry(base.request, entry)? }}">
                <i class="bi-pencil-fill" aria-hidden="true"></i> Bearbeiten</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ base.request.url_for("previous_dates_overview", [event.id.to_string(), entry.entry.id.to_string()])? }}">
            <i class="bi bi-clock-history"></i> Vorherige Termine</a>
        </li>
    </ul>

    <h2>
        Vorherige Termine
    </h2>
    {% if entry.previous_dates.is_empty() %}
        <div class="alert alert-info">
            <i class="bi bi-info-circle" aria-hidden="true"></i>
            Dieser Eintrag wurde bisher nicht verschoben bzw. die vorherigen Termine wurden nicht gespeichert.
        </div>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Wann?</th>
                    <th>Wo?</th>
                    <th>Kommentar zur Verschiebung</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for previous_date in entry.previous_dates %}
                    <tr>
                        <td>
                            <small>{{ to_our_timezone(entry.entry.begin).format("%d.%m.") }}</small>
                            {{ to_our_timezone(previous_date.previous_date.begin).format("%H:%M") }}&nbsp;–
                            {{ to_our_timezone(previous_date.previous_date.end).format("%H:%M") }}
                            {% let duration = previous_date.previous_date.end.signed_duration_since(previous_date.previous_date.begin) %}
                            {% if duration >= chrono::TimeDelta::days(1) %}
                                (+{{ duration.num_days() }}&nbsp;Tag{{ duration.num_days()|pluralize("", "e") }})
                            {% endif %}
                        </td>
                        <td>
                            {% for room_id in previous_date.room_ids %}
                                {{ rooms[room_id].title }}{% if !loop.last %}, {% endif -%}
                            {% endfor %}
                        </td>
                        <td>
                            {{ previous_date.previous_date.comment }}
                        </td>
                        <td class="text-end">
                            <form class="d-inline-block" method="post"
                                  action="{{ base.request.url_for("delete_previous_date", [event.id.to_string(), entry.entry.id.to_string(), previous_date.previous_date.id.to_string()])? }}">
                                <button type="submit" class="btn btn-sm btn-danger" title="Diesen vorherigen Termin aus dem KüA-Plan löschen">
                                    <i class="bi bi-trash" aria-hidden="true"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h2>Aktueller Termin</h2>
    <table class="table table-striped kuealist">
        <thead>
        <tr>
            <th>Was?</th>
            <th>Wann?</th>
            <th>Wo?</th>
            <th>Von wem?</th>
        </tr>
        </thead>
        <tbody>
        <tr style="{{ Self::css_for_category_color(entry_category) }}" class="kuea-with-category">
            <td class="kuea-title" id="entry-{{ entry.entry.id.to_string() }}">
                {% if entry.entry.is_cancelled %}
                <span class="visually-hidden">Abgesagt: </span>
                {% endif %}
                <span class="content">{{ entry.entry.title }}</span>
                {% if !entry.entry.comment.is_empty() %}
                <div class="comment">{{ entry.entry.comment }}</div>
                {% endif %}
            </td>
            <td class="kuea-time">
                <small>{{ to_our_timezone(entry.entry.begin).format("%d.%m.") }}</small>
                {{ to_our_timezone(entry.entry.begin).format("%H:%M") }}&nbsp;– {{ to_our_timezone(entry.entry.end).format("%H:%M") }}
                {% let duration = entry.entry.end.signed_duration_since(entry.entry.begin) %}
                {% if duration >= chrono::TimeDelta::days(1) %}
                    (+{{ duration.num_days() }}&nbsp;Tag{{ duration.num_days()|pluralize("", "e") }})
                {% endif %}
                {% if !entry.entry.time_comment.is_empty() %}
                    <div class="comment">{{ entry.entry.time_comment }}</div>
                {% endif %}
            </td>
            <td class="kuea-place">
                {% for room_id in entry.room_ids %}
                {{ rooms[room_id].title }}{% if !loop.last %}, {% endif -%}
                {% endfor %}
                {% if !entry.entry.room_comment.is_empty() %}
                <div class="comment">{{ entry.entry.room_comment }}</div>
                {% endif %}
            </td>
            <td class="kuea-people">{{ entry.entry.responsible_person }}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
