{% extends "base.html" %}

{% macro navlink(url, icon, label, index, entry_count, colored_count, show_if_empty) %}
    {% if show_if_empty || entry_count > 0 %}
        <li class="nav-item">
            <a class="nav-link {% if active_nav_button == index%}active{% endif %}" {% if active_nav_button == index%}aria-current="page"{% endif %} href="{{ url }}">
                <i class="bi bi-{{icon}}" aria-hidden="true"></i> {{label}}
                {% if entry_count > 0 %}
                <span class="badge rounded-pill {% if colored_count%}text-bg-danger{% else %}text-bg-light{% endif %}"><span class="visually-hidden">Anzahl: </span>{{ entry_count }}</span>
                {% endif %}
            </a>
        </li>
    {% endif %}
{% endmacro %}


{% block body %}
<div class="container mt-3" id="main">
    <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0" id="review-navigation">
            <nav aria-label="Review-Bereich-Navigation">
                <ul class="nav nav-pills flex-row flex-lg-column">
                    {{ navlink(base.url_for_event_endpoint("list_to_review")?,
                               "clipboard2-check",
                               "Zu Prüfen",
                               ReviewNavButton::ToReview,
                               *entry_count_by_state.get(&EntryState::PreliminaryPublished).unwrap_or(&0)
                               + *entry_count_by_state.get(&EntryState::SubmittedForReview).unwrap_or(&0),
                               true,
                               event.entry_submission_mode.includes_reviews()) }}
                    {{ navlink(base.url_for_event_endpoint("list_drafts")?,
                               "pencil-square",
                               "Entwürfe",
                               ReviewNavButton::Drafts,
                               *entry_count_by_state.get(&EntryState::Draft).unwrap_or(&0),
                               false,
                               true) }}
                    {{ navlink(base.url_for_event_endpoint("list_rejected_entries")?,
                               "slash-circle",
                               "Abgelehnt",
                               ReviewNavButton::Rejected,
                               *entry_count_by_state.get(&EntryState::Rejected).unwrap_or(&0),
                               false,
                               event.entry_submission_mode.includes_reviews()) }}
                    {{ navlink(base.url_for_event_endpoint("list_retracted_entries")?,
                               "eye-slash",
                               "Versteckt",
                               ReviewNavButton::Retracted,
                               *entry_count_by_state.get(&EntryState::Retracted).unwrap_or(&0),
                               false,
                               true) }}
                </ul>
            </nav>
        </div>
        <div class="col-lg-9" id="review-content">
            <h1>{{ base.page_title }}</h1>

            {% if !entries.is_empty() %}
                <table class="table table-striped kuealist">
                    <thead>
                    <tr>
                        <th scope="col">Was?</th>
                        <th scope="col">Wann?</th>
                        <th scope="col">Wo?</th>
                        <th scope="col">Von wem?</th>
                        <th scope="col"><span class="visually-hidden">Aktionen</span></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}
                            {% let category = categories.get(entry.entry.category).ok_or("Category not found")? %}
                            {{ MainListRowTemplate::new(base.request, &MainListRow::from_entry(entry), category, rooms, event.clock_info)
                                   .show_edit_buttons(true)
                                   .show_markup(false) }}
                        {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <div class="alert alert-info mt-4">
                    <i class="bi bi-info-circle" aria-hidden="true"></i>
                    {{ empty_message }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
