{% extends "base.html" %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Orte</h1>
            {% if base.auth_token.expect("auth_token should be provided").has_privilege(*event_id, Privilege::ManageRooms) %}
                <div class="mb-3">
                    <a href="{{ base.url_for_event_endpoint("manage_rooms")? }}" class="btn btn-outline-primary"><i class="bi bi-gear" aria-hidden="true"></i> Orte verwalten</a>
                </div>
            {% endif %}

            <div class="list-group mb-3">
                <a href="{{ base.url_for_event_endpoint("main_list_without_room")? }}" class="list-group-item list-group-item-action fst-italic">
                    <span class="float-end d-inline-block ms-2" aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                    <span class="float-end badge rounded-pill {% if entries_without_room_count == 0 %}text-bg-secondary{% else %}text-bg-light{% endif %} ms-2" title="Anzahl Einträge">
                        {{ entries_without_room_count }}
                        <span class="visually-hidden">Einträge</span>
                    </span>
                    KüAs ohne Raum
                </a>
            </div>

            {% if rooms.is_empty() %}
                <div class="alert alert-info mt-4">
                    <i class="bi bi-info-circle" aria-hidden="true"></i>
                    Es wurden noch keine Orte für KüAs angelegt.
                </div>
            {% else %}
                <div class="list-group">
                    {% for room in rooms %}
                        {% let entry_count = *entry_counts.get(room.id).unwrap_or(&0) %}
                        <a href="{{ base.request.url_for("main_list_by_room", [event_id.to_string(), room.id.to_string()])? }}" class="list-group-item list-group-item-action">
                            <span class="float-end d-inline-block ms-2" aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                            <span class="float-end badge rounded-pill {% if entry_count == 0 %}text-bg-secondary{% else %}text-bg-light{% endif %} ms-2" title="Anzahl Einträge">
                                {{entry_count}}
                                <span class="visually-hidden">Einträge</span>
                            </span>
                            {{room.title}}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
