{#
 # Template for rendering a single entry in a main entry list with the four columns title, time, place, people.
 #}
{%- macro format_begin_end(begin, end) %}
    {% let duration = end.signed_duration_since(*begin) %}
    {% let show_begin_date = date_context.is_none() || self.to_our_timezone(begin).date() < date_context.unwrap() %}
    {% let show_end_date = duration >= chrono::TimeDelta::hours(12)
           && to_our_timezone(end).date() != to_our_timezone(begin).date() %}
    {% if !show_begin_date && !show_end_date %}<span class="text-nowrap">{% endif %}
        {% if show_begin_date %}
            <span class="text-nowrap">{{ to_our_timezone(begin).format("%d.%m. %H:%M") -}}</span>
        {%- else -%}
            {{ to_our_timezone(begin).format("%H:%M") -}}
        {% endif -%}
        {% if end != begin -%}
            &nbsp;–
        {% if show_end_date %}
            <span class="text-nowrap">{{ to_our_timezone(end).format("%d.%m. %H:%M") }}</span>
        {% else %}
            {{ to_our_timezone(end).format("%H:%M") }}
        {% endif %}
    {% endif %}
    {% if !show_begin_date && !show_end_date %}</span>{% endif %}
{% endmacro -%}

{% if row.is_first_row_of_next_calendar_date %}
    <tr class="next-calendar-date-marker">
        <td></td>
        <td class="text-secondary text-nowrap">
            <i class="bi bi-calendar-event-fill" aria-hidden="true" title="Kalenderdatum"></i>
            <span class="visually-hidden">Neuer Kalenderatag: </span>
            {{ to_our_timezone(row.entry.entry.begin).format("%d.%m.") }} 00:00
        </td>
        <td colspan="2"></td>
    </tr>
{% endif %}

{% let entry = row.entry.entry %}
<tr class="{{ css_class_for_tr(row) }}">
    <td class="kuea-title aside-container" {% if row.entry_takes_place_now() %}id="entry-{{ entry.id.to_string() }}"{% endif %}>
        {% let effective_begin_date = crate::web::time_calculation::get_effective_date(row.sort_time, clock_info) %}
        {% if let Some(date) = date_context %}
            {% if effective_begin_date < *date %}
                <div class="small">
                    <i class="bi bi-arrow-return-right" aria-hidden="true"></i>
                    Übertrag vom {% if effective_begin_date == date.checked_sub_days(chrono::Days::new(1)).unwrap() %}Vortag{% else %}{{ effective_begin_date.format("%d.%m.") }}{% endif %}
                </div>
            {% endif %}
        {% endif %}
        {% if entry.is_cancelled %}
            <span class="visually-hidden">Abgesagt: </span>
        {% elif !row.includes_entry %}
            <span class="visually-hidden">Verschoben: </span>
        {% endif %}
        {% if !category.icon.is_empty() %}
            <div class="d-inline-block float-end ms-2" title="Kategorie {{category.title}}" aria-label="Kategorie {{category.title}}">{{ category.icon }}</div>
        {% endif %}
        <span class="content">{{ entry.title }}</span>
        {% if row.includes_entry && show_edit_links %}
            <div class="table-aside-buttons">
                <a href="{{ url_for_edit_entry(row.entry)? }}" aria-label="Eintrag bearbeiten"
                   title="Eintrag &quot;{{entry.title|ellipsis(30)}}&quot; bearbeiten">
                    <i class="bi-pencil" aria-hidden="true"></i></a>
            </div>
        {% endif %}
        {% if row.includes_entry && show_description_links && !entry.description.is_empty() %}
            <a href="#entry-desc-{{ entry.id.to_string() }}" title="Zur Beschreibung" aria-label="Springe zur Beschreibung"><i class="bi-blockquote-left" aria-hidden="true"></i></a>
        {% endif %}
        {% if row.includes_entry && !entry.comment.is_empty() %}
            <div class="comment mt-1">{{ entry.comment }}</div>
        {% endif %}

        {% if !row.includes_entry && !entry.is_cancelled %}
            <div class="comment text-info mt-1">
                <i class="bi bi-clock-fill" aria-hidden="true"></i> Verschoben
                {% if !row.merged_times.contains((&entry.begin, &entry.end)) %}
                    auf
                    {% let link = url_for_current_entry()? %}
                    {% if let Some(link_url) = link %}
                        <a href="{{ link_url }}" class="moved-entry-link">
                    {%- endif %}
                    {%- if Some(crate::web::time_calculation::get_effective_date(entry.begin, clock_info)) != date_context %}
                        {{- to_our_timezone(entry.begin).format("%d.%m. %H:%M") }}&nbsp;Uhr
                    {%- else %}
                        {{- to_our_timezone(entry.begin).format("%H:%M") }}&nbsp;Uhr
                    {%- endif %}
                    {%- if link.is_some() %}</a>{% endif %}
                {% endif %}
                {% if row.rooms_differ_from_entry() %}
                    {% if !row.entry.room_ids.is_empty() %}
                        nach
                        {% for room in get_entry_rooms_ordered() %}
                            {{ room.title }}{%- if !loop.last %}, {% endif -%}
                        {% endfor %}
                    {% else %}
                        zu undefiniertem Ort
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        {% for previous_date in row.previous_dates if !previous_date.previous_date.comment.is_empty() %}
            <div class="comment mt-1">
                {{ previous_date.previous_date.comment }}
            </div>
        {% endfor %}
    </td>
    <td class="kuea-time">
        {% if row.includes_entry %}
            {{ format_begin_end(entry.begin, entry.end) }}
            {% if row.merged_times.len() > 1 %}
                <span class="visually-hidden">Zuvor geplante Zeiten:</span>
                <span class="text-decoration-line-through">
            {% endif %}
        {% endif %}
        {% for (begin, end) in row.merged_times if (**begin, **end) != (entry.begin, entry.end) || !row.includes_entry %}
            {% if row.includes_entry || !loop.first %}<br>{% endif %}
            {{ format_begin_end(**begin, **end) }}
            {% if !loop.last %},{% endif %}
        {% endfor %}
        {% if row.includes_entry && row.merged_times.len() > 1 %}
            </span>
        {% endif %}
        {% if row.includes_entry && !entry.time_comment.is_empty() %}
            <div class="comment">{{ entry.time_comment }}</div>
        {% endif %}
    </td>
    <td class="kuea-place">
        {% if row.includes_entry %}
            {% for room in get_entry_rooms_ordered() %}
                {{ room.title }}
                {%- if !loop.last %}, {% endif -%}
            {% endfor -%}
            {% if row.merged_rooms.len() > row.entry.room_ids.len() -%}
                {% if row.entry.room_ids.len() > 0 %}, {% endif -%}
                <span class="visually-hidden">Zuvor geplante Orte:</span>
                <span class="text-decoration-line-through">
            {% endif %}
        {% endif %}
        {% for room in get_previous_rooms_ordered() %}
                {{ room.title }}
            {%- if !loop.last %}, {% endif -%}
        {% endfor %}
        {% if row.includes_entry && row.merged_rooms.len() > row.entry.room_ids.len() %}
            </span>
        {% endif %}
        {% if row.includes_entry && !entry.room_comment.is_empty() %}
            <div class="comment">{{ entry.room_comment }}</div>
        {% endif %}
    </td>
    <td class="kuea-people">
        {% if !entry.responsible_person.is_empty() %}
            <span class="d-inline d-sm-none">von</span> {{ entry.responsible_person }}
        {% endif %}
    </td>
</tr>
