<label for="{{name}}Select" class="form-label">{{label}}</label>
<select class="form-select {%if data.has_errors() %}is-invalid{% endif %} {% match size %}{%when InputSize::Large%}form-control-lg{%when InputSize::Normal%}{%when InputSize::Small%}form-control-sm{%endmatch%}"
        id="{{name}}Select" name="{{name}}">
{% for entry in entries %}
    <option value="{{entry.value}}"{% if entry.value == data.string_value() %}selected{% endif %}>{{entry.text}}</option>
{% endfor %}
</select>
{% include "_info_and_errors.html" %}
