<label for="{{name}}Input" class="form-label">{{label}}</label>
{% match input_type %}
{% when InputType::Textarea %}
    <textarea class="form-control" id="{{name}}Input" name="{{name}}" rows="8">{{data.value}}</textarea>
{% else %}
    <input type="{{ input_type.as_html_type_attr() }}"
           class="form-control {% match size %}{%when InputSize::LARGE%}form-control-lg{%when InputSize::NORMAL%}{%when InputSize::SMALL%}form-control-sm{%endmatch%}"
           id="{{name}}Input" name="{{name}}"
           value="{{data.value}}">
{% endmatch %}
{% include "_info_and_errors.html" %}
